/* this is for the font that has been used in this website  */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

/* this is the content in the landing page  */
.content {
    width: 93%;
    height: 100vh;
    float: left;
}

/* this is for the box design for the details div */
.Details {
    background-image: url("../media/images/pattern.jpg");
    width: 40%;
    height: 100vh;
    position: relative;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    white-space: nowrap;
    z-index: 5;
}

/* this is for the logo design */
.logo {
    margin: 10vh 0% 0% 20%;
    color: rgb(214, 233, 223);
    font-family: 'Varela Round', sans-serif;
    z-index: 3;
    letter-spacing: 2px;
    font-size: 19px;
}

/* this is for the style in the link of logo  */
.logo a {
    text-decoration: none;
    color: rgb(214, 233, 223);
    cursor: pointer;
}

.logo span {
    color: #54ec18b6;
}
/* logo design end */

/* this is for the hello part in the website */

.greeting {
    color: #54ec18b6;
    font-family: 'Varela Round', sans-serif;
    margin: 12vh 0% 0% 20%;
    font-size: 30px;
}

/* this is for the i'm milan part  */
.intro {
    margin: -5vh 0% 0% 20%;
    color: rgb(214, 233, 223);
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 150px;
    letter-spacing: 15px;
    padding: 0;
}

/* this is for the skills displayed in the landing page. */
.skillssection {
    margin: -15vh 0% 0% 20%;
}

.skills {
    font-family: 'Syne Mono', monospace;
    color: rgb(214, 233, 223);
    font-size: 30px;
    /* margin: -17vh 0% 0% 20%; */
    list-style: none;
    text-transform: uppercase;
}

/* this is for the hire me button style in the landing page.  */
.hire {
    position: relative;
    background-color: transparent;
    border: 0.1px solid rgb(214, 233, 223);
    color: rgb(214, 233, 223);
    padding: 20px 30px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4vh 0% 0% 20%;
    transition-duration: 0.4s;
    cursor: pointer;
}

.hire { 
    color: rgb(214, 233, 223);; 
    border: 2px solid rgb(214, 233, 223);
}
  
  /* this is for the hire me page in the landing page in hover state  */
.hire:hover {
    background-color: rgb(214, 233, 223);
    color: black;
}


/* this is for the social media icon */

.social {
    position: absolute;
    /* margin: 0% 0% 5% 20%; */
    bottom: 5vh;
    left: 20%;
}
/* this is for the social icon on the landing page  */
.social ul li {
    margin-right: 4%;
    border: 1px solid rgb(214, 233, 223);
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    transition-duration: 0.4s;
}

/* This is the style for the link anchor tag  */
.social ul li a {
    color: rgb(214, 233, 223);
    text-decoration: none;
    display: block;
    padding: 10px;
}


/* this is for the image of the person div */
.Picture {
    float: left;
    width: 60%;
    height: 100vh;
}

/* this is for the person in the landing page */
.person {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
}

/* this is for the side menu div */
.menu {
    position: relative;
    float: right;
    background: rgb(0, 0, 0);
    width: 7%;
    height: 100vh;
    text-align: center;
}

.menu ul {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    list-style-type: none;
    
}
.menu ul li {
    position: relative;
    width: 100%; 
    text-align:center;
    transition-duration: 0.6s;
}

.menu ul li a {
    position: relative;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(214, 233, 223);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: block;
    padding: 15px;
    margin: auto;
}

.active {
    background-color: white;
    color: black;
}